body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri';
  background-color: #EAEBF5;
  /* #102EEF #EAEBF5  #FEFEFE */
}
.contacto th{
    background:#102EEF;
    color: white;
}
.contacto td{
    background:#FEFEFE;
    color:#102EEF;
}

h2{
    color:#102EEF;
}
